<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        background-color:bisque;
        }
        form{
        background-color:lightblue;
        margin:auto;
        width=50%;
        padding=20px;
        }
        input{
        box-sizing:border-box;
        display:block;
        width:100%;
        }
        button{
        box-sizing:border-box;
        margin-top:10px;
        display:block;
        width:100%;
        }
    </style>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Add Details</button><br>
    <button type="submit">Update Details</button>
</form>
</body>
</html>